

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">Angular 2</a>

      <!--
    <a class="navbar-brand" href="#">
      <img alt="Ming" src="./app/imgs/436631.jpg">
    </a>

    -->
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">


        <li><a routerLink="/type-page/type-page/11" routerLinkActive="active fluffy"><span class="glyphicon glyphicon-screenshot"></span> Shopping</a></li>
      </ul>

      <!--
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/login/login">Login</a></li>
            </ul>
      -->

      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/dashboard/dashboard" routerLinkActive="active fluffy"><span class="glyphicon glyphicon-pencil"></span> Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/cart/cart" routerLinkActive="active fluffy"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
      </ul>

    </div>

  </div>
</nav>


<!--
<div class="row">

  <div class="col-md-offset-1 col-md-7">

    <div class="thumbnail">

      <div class="caption">

        <h3>Shopping Database administration</h3>

        <h3>Shopping Database administration</h3>
        <h3>Shopping Database administration</h3>

        </div>
      </div>
    </div>

  -->

<div class="row">

  <div class="col-md-offset-1 col-md-8">

        <div class="grid grid-pad">

          <a [routerLink]="['/admin/admin', 1]"  class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="module hero">
              <h4>Category</h4>
            </div>
          </a>
          <a [routerLink]="['/goods/goods']"  class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="module hero">
              <h4>Goods</h4>
            </div>
          </a>
          <a [routerLink]="['/detail/detail', 1]"  class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="module hero">
              <h4>UserTable</h4>
            </div>
          </a>
          <a [routerLink]="['/detail/detail', 1]"  class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="module hero">
              <h4>comment</h4>
            </div>
          </a>
          <a [routerLink]="['/detail/detail', 1]"  class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="module hero">
              <h4>ordinfo</h4>
            </div>
          </a>
          <a [routerLink]="['/detail/detail', 1]"  class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="module hero">
              <h4>ordgoods</h4>
            </div>
          </a>

          <a [routerLink]="['/detail/detail', 1]"  class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="module hero">
              <h4>Table 1</h4>
            </div>
          </a>

          <a [routerLink]="['/detail/detail', 1]"  class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="module hero">
              <h4>Table2</h4>
            </div>
          </a>

          <a [routerLink]="['/detail/detail', 1]"  class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="module hero">
              <h4>Table3</h4>
            </div>
          </a>

        </div>
  </div>
</div>

