<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>评论列表</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<!--[if lt IE 9]>
        <script src="./js/html5shiv.min.js"></script>
        <script src="./js/respond.min.js"></script>
    <![endif]-->
<style>
	.container {
		width: 1170px;
	}
</style>
</head>
<body>
	<div class="container">
		<div class="well">
			<h1>农场主的blog</h1>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<div class="well">
					<ul class="nav nav-pills nav-stacked">
						<li>博客管理</li>
						<li><a href="">博文列表</a></li>
						<li><a href="">发表文章</a></li>
						<li class="active"><a href="">评论管理</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-9">
				<table class="table table-hover table-condensed">
					<tr>
						<td>评论</td>
						<td>日期</td>
						<td>操作</td>
					</tr>
					<tr>
						<td>张三|123.117.145.56</td>
						<td>2013/12/03</td>
						<td><a href="#">删除</a></td>
					</tr>
					<tr>
						<td colspan="3">我是一只小小小小鸟,怎么飞也飞不高</td>
					</tr>
				</table>
				<ul class="pagination">
					<li><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li><a href="">5</a></li>
				</ul>
			</div>
		</div>
		<div class="well text-center" id="footer">
			欢迎使用 Welcome to enjoy Ming's Blog ...
		</div>
	</div>
	<script src="//libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>	
	<script src="./js/bootstrap.min.js"></script>	
</body>
</html>