<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<!--[if lt IE 9]>
        <script src="./js/html5shiv.min.js"></script>
        <script src="./js/respond.min.js"></script>
    <![endif]-->
    <style>
		.container {
			border: 1px;
			background-color: #EEE; 
			width: 1170px;
			font-family: '微软雅黑','黑体',sans-serif;
		}

		article {
			margin-bottom: 30px;
		}
		article h1 {
			font-size: 24px;
			font-family: '微软雅黑','黑体',sans-serif;
		}

		article div {
			border-top: 1px dashed gray;
			border-bottom: 1px solid gray;
			padding-top: 6px;
			margin-bottom: 4px;
		}

		textarea {
			width: 100%;
		}
		#pic_id{
			//position:absolute;
			//top: 50px;
			//right: 250px;
			width: 90px;
			height: 50px;
			margin-right: 25px;
			margin-top: 35px;
			float: right;
		}	
    </style>
</head>
<body>
	<div class="container">
		<a href="#"><img src="./images/oop1.jpg" alt="OOP"  id="pic_id" /></a>
		<div class="page-header">
			<h1>Ming's Blog</h1>
		</div>

		<nav class="navbar navbar-inverse">
			<ul class="nav navbar-nav">
				<li><a href="index.php">Return Home</a></li>
				<li class="active"><a href="">Enjoy it</a></li>
				<li><a href="">About</a></li>
				<li><a href="">Comment</a></li>
			</ul>

			<form action="" class="navbar-form navbar-right">
				<div class="form-group">
					<input type="text" class="form-control">
				</div>
				<div class="form-group">
					<input type="submit" class="form-control" value="查询">
				</div>
			</form>
		</nav>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-9">
				<article>
					<h1><?php echo $art['title'] ; ?></h1>
					<div class="art">
						<?php if( $art['pic'] ) { ?>
							<?php list($w, $h, $type) = getimagesize($art['pic']); ?>
								<?php if( $w > 865 ) { $h = $h * (865/$w) ; $w = 865; } ?>
								<?php if( $h > 625 ) { $w = $w * (625/$h) ; $h = 625; } ?>
								<img src="<?php echo $art['pic'] ; ?> " height= <?php echo $h ?> width=<?php echo $w ; ?> />
						<?php } ?>
						<p style="text-indent:30px; margin-top:20px;">
						<?php echo $art['content'] ; ?>
						</p>
					</div>
				</article>

				<?php if( $fail === true) { ?>
					<p class="text-warning">评论失败</p>
				<?php } ?>
				<?php foreach($comments as $c) { ?>
				<div class="panel panel-default">
					<div class="panel-heading">
						<img src="./images/pic.png" class="img-rounded" alt=""><?php echo $c['nick'] ; ?>发表于<a href="#"><?php echo date('Y/m/d H:i', $c['pubtime'] ) ; ?></a>说 IP: <?php echo long2ip($c['ip']) ; ?>
					</div>
					<div class="panel-body">
						<?php echo $c['content'] ; ?>
					</div>
				</div>
				<?php } ?>

				<!-- Input 评论部分 ****************************************************************************** -->
				<form action="" class="form-horizontal" method="post">
					<div class="form-group">
						<label class="col-xs-3 control-label" for="">Nick:</label>
						<div class="col-xs-6">
							<input type="text" class="form-control" name="nick" >
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-3 control-label" for="">Comment:</label>
						<div class="col-xs-6">
							<textarea name="content" ></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6 col-xs-offset-3">
							<button class="btn btn-default">Commit</button>
						</div>
					</div>
				</form>
			</div>

			<div class="col-xs-3">

				<div class="panel panel-default">
					<div class="panel-heading">
						Category Blog
					</div>
					<div class="panel-body">
						<ul>
							<?php foreach($cats as $c) { ?>
							<li><a href="index.php?cat_id=<?php echo $c['cat_id'] ; ?>"><?php echo $c['catname'] ; ?></a></li>
							<?php } ?> 
						</ul>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						The new Blog
					</div>
					<div class="panel-body">
						<ul>
							<?php foreach($news as $n) { ?> 
							<li><a href="art.php?art_id=<?php echo $n['art_id']; ?>"><?php echo $n['title']; ?></a></li>
							<?php } ?>
						</ul>
					</div>
				</div>


			</div>

		</div>
		<div class="well text-center" id="footer">
			欢迎使用 Welcome to enjoy Ming's Blog ...
		</div>
	</div>
	
	<script src="//libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>	
	<script src="./js/bootstrap.min.js"></script>	
</body>
</html>