

<!--
<h6>{{title}}</h6>

<app-sub-title></app-sub-title>
-->

<!-- Where router should display a view

<router-outlet>标签添加到模板的底部。 RouterOutlet是RouterModule提供的指令之一。
当我们在应用中导航时，路由器就把激活的组件显示在<router-outlet>里面。

Router Start from here :

-->

<!--
<nav>
  <a routerLink="/dashboard/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/teacher/teacher" routerLinkActive="active">Teachers</a>
</nav>
-->

<!--

 For Test ....

<h1 id="hh">My App</h1>

<pre style="background: #eee; padding: 1rem; border-radius: 3px; overflow: auto;">
    <code>{{ node }}</code>
  </pre>

  -->

<!--
<h1>{{title}}</h1>
<nav>
    <a routerLink="/type-page/type-page/1" routerLinkActive="active">Type 1 </a>
    <a routerLink="/type-page/type-page/2/?" routerLinkActive="active">Type 2 </a>
    <a routerLink="/type-page/type-page/3/?/?" routerLinkActive="active">Type 3 </a>
    <a routerLink="/cart/cart" routerLinkActive="active">Cart</a>
</nav>
-->







<router-outlet></router-outlet>


