
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asp.Shop Project <small>Design Document</small></h2>

<hr />
<br />

<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-3 hidden-sm hidden-xs">
                <br />
                <div class="list-group">
                    <a class="list-group-item" href="~/Home/DesignDocument/#10">1. Description</a>
                    <a class="list-group-item" href="~/Home/DesignDocument/#11">2. Functionalities</a>
                    <a class="list-group-item" href="~/Home/DesignDocument/#12">2.1 Essential</a>
                    <a class="list-group-item" href="~/Home/DesignDocument/#13">2.2 Important</a>
                    <a class="list-group-item" href="~/Home/DesignDocument/#14">2.3 Document</a>
                </div>
            </div>
            <div class="col-md-9 about">
                <a name="10"></a>
                <h3 class="bg-info">Description</h3>
                <p class="bg-info">
                    Asp.Shop a form of electronic commerce that allows consumers to directly buy goods from the seller over the internet.
                    What separates our website to other ecommerce website? We are local and customers can make decision to buy the product online or
                    visit a local market where the product is being sold. This project will help to those people who likes shopping but wants doesn't
                    want to go to the mall or store. This will save some time and comfortable for them to do their shopping time. It's also provides good deals
                    of the week on our featured products.
                </p>

                <h3 class="bg-info">Functionalities</h3>
                <a name="11"></a>

                <h4>Essential</h4>
                <a name="12"></a>
                <ul>
                    <li>Admin can utilized the project, he can create </li>
                    <li>Sellers can login and manage their listings</li>
                    <li>Sellers can create/read/update/delete products</li>
                    <li>Users can search products (by category, search bar, featured list, store, location)</li>
                    <li>Users can do their shopping by choosing the products that they want and add into their cart.</li>
                    <li>Only users can do finish their online shopping by signing in and proceed to checkout.</li>
                    <li>Guests user has a privillege to check awesome products and good deals in this project and requiring them to create an account or sign up for free.</li>
                </ul>

                <h4 class="bg-info">Important</h4>
                <a name="13"></a>
                <ul>
                    <li>Product description, specification, etc.</li>
                    <li>Users information</li>
                    <li>Sellers can choose to input url or add images (to database).</li>
                </ul>

                <h4 class="bg-info">Document</h4>
                <a name="14"></a>
                <iframe frameborder="0" style="width:100%;height:914px;" src="https://www.draw.io/?chrome=0&lightbox=1&highlight=0000ff&edit=_blank&layers=1&title=InternalProject#Uhttps%3A%2F%2Fdrive.google.com%2Fuc%3Fid%3D0B8ut6_iYZNTncHNwVHFtRENQc3M%26export%3Ddownload"></iframe>

            </div>
        </div>
    </div>
</div>


